doctype html
html
  head
    title= "Train Map Edit Tool"
    link(rel='stylesheet', href='/stylesheets/editor.css')
    script(src='/javascripts/editor.js')
      


  body
    block content
        #station-container
          input#station-list-search(type="text" oninput="search_station(this)")
          #station-list
            each station in stations
              button.station-list-content(onclick="select_event(this);") #{station.ID} #{station.line_num}호선 #{station.Name}
              
          #station-list-selected

        #map