doctype html
html
  head
    title= "Train Map Edit Tool"
    link(rel='stylesheet', href='/stylesheets/editor.css')
  body
    block content
        #station-list
            .station-list-content aaaaaaaaaaaaaa
            .station-list-content aaaaaaaaaaaaaa
        #map