doctype html
html
  head
    title= "Train Map Edit Tool"
    link(rel='stylesheet', href='/stylesheets/editor.css')
  body
    block content
        #station-list
          -for(var i=0; i<30; i++)
            each station in stations
              .station-list-content #{station.ID} #{station.line_num}호선    #{station.Name}
              
                          
        #map