doctype html
html
  head
    title="Metro Project"
    meta(charset='utf8')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/metro.css')
    script(src='/d3/d3.js')
    script(src='/javascripts/index.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
  body
    block content
      #header
      #navigator
        #nav-mode-container
          .nav-title
          #mode-select-normal
          #mode-select-congestion
        hr(style='width : 95%; height : 0; border : 0; border-top : 1px solid rgb(138, 30, 30);')
        #nav-path-container
          .nav-title 경로 검색
          #input-path-src
            .input-path-text 출발역
            input(type="text", onclick="this.select();")
          #input-path-dst
            .input-path-text 도착역
            input(type="text", onclick="this.select();")
          button#search-path 검색
        hr(style='width : 95%; height : 0; border : 0; border-top : 1px solid rgb(138, 30, 30);')
        #nav-statistic-container
      #map-container
        #line-selector
        #metro

    script#draw-script(src='/src/metro.js')