doctype html
html
  head
    title="Metro Project"
    meta(charset='utf8')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/metro.css')
    script(src='/d3/d3.js')
    script(src='/javascripts/index.js')
    script(src='/src/metro.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
  body
    block content
      #header
      #navigator
        #nav-mode-container
          .nav-title 뷰 모드 선택
          #mode-select-normal
            button.mode-select-button.selected(value='normal') 일반
          #mode-select-congestion
            button.mode-select-button(value='congestion') 혼잡도
        hr(style='width : 95%; height : 0; border : 0; border-top : 3px solid rgb(138, 30, 30);')
        #nav-path-container
          .nav-title 경로 검색
          #input-path-src
            .input-path-text 출발역
            input(type="text", onclick="this.select()", spellcheck="false")
          #input-path-dst
            .input-path-text 도착역
            input(type="text", onclick="this.select()", spellcheck="false")
          button#search-reset.search 초기화
          button#search-path.search 검색
          button#search-random.search 랜덤 검색
        hr(style='width : 95%; height : 0; border : 0; border-top : 3px solid rgb(138, 30, 30);')
        //#nav-statistic-container
      #map-container
        #line-selector-container
          each val, index in {1:'rgb(13, 54, 146)',2:'rgb(51, 162, 61)',3:'rgb(254, 91, 16)',4:'rgb(50, 161, 200)',5:'rgb(139, 80, 164)',6:'rgb(197, 92, 29)',7:'rgb(84, 100, 13)',8:'rgb(245, 19, 97)',9:'rgb(170, 152, 114)'}
            button.line-selector(id="line-"+index style="background-color:"+val onclick='selectLine(this);')=index+"호선"
        #metro
