doctype html
html
  head
    title="Metro Project"
    meta(charset='utf8')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/metro.css')
    script(src='/d3/d3.js')
    script(src='/javascripts/index.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
  body
    block content
      #header
      #navigator
        #nav-mode-container
          .nav-title
          #mode-select-normal
          #mode-select-congestion
        hr(style='width : 95%;')
        #nav-path-container
          .nav-title
          #input-path-src
          #input-path-dst
          #search-path
        hr(style='width : 95%;')
        #nav-statistic-container
      #map-container
        #line-selector
        #metro

    script#draw-script(src='/src/metro.js')