#station-container {
    border : 2px solid slategrey;
    width : 19%;
    height : 900px;
    float : left;
}

#station-list {
    border-bottom: 1px solid slategrey;
    width : 100%;
    height : 63%;
}

#station-list-search {
    border-bottom: 1px solid slategrey;
    width : 98%;
    height : 3%;
}

#station-list-selected {
    border : 2px 0px solid slategrey;
    width : 100%;
    height : 30%;
    overflow-x : scroll;
}

#render-update {
    text-align: center;
    width: 100%;
    height: 3%;
}

#metro {
    border : 2px solid slategrey;
    width : 80%;
    height : 900px;
    float : left;
}

.station-list-content {
    border : 1px solid slategrey;
    width : 100%;
    margin : 1px 1px;
}