@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.grid {
    stroke-width: 1;
    stroke: black;
    stroke-opacity: 0.1;
}

.line {
    stroke-width: 10;
    fill: none;
}

.node {
    r: 10;
}

.node-inside{
    r: 6;
    fill: white;
}

.node-select {
    r: 12;
    fill: red;
}

.node-name{
    font-family: "Nanum Gothic", monospace;
    font-size: 11px;
    text-anchor: middle;
}

.node-name-background{
    fill: white;
    opacity: 0.8;
    stroke-width: 0.3px;
    stroke-opacity: 0.3;
    transition: opacity 500ms;
    transition: stroke-opacity 500ms;
}

.fade-out{
    fill-opacity : 0.1;
    stroke-opacity : 0.1;

    transition: fill-opacity 500ms;
    transition: stroke-opacity 500ms;
}

.fade-in{
    fill-opacity : 1;
    stroke-opacity : 1;

    transition: fill-opacity 500ms;
    transition: stroke-opacity 500ms;
}